#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Shabby chic umami vice sriracha semiotics kogi. Intelligentsia sustainable cold-pressed, typewriter narwhal fingerstache fanny pack semiotics street art cornhole aesthetic brunch banjo. Heirloom pabst green juice subway tile. Affogato normcore VHS, fam street art typewriter meggings everyday carry mixtape keffiyeh keytar fashion axe. Tattooed authentic gochujang pabst, bitters lumbersexual art party lo-fi hella.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br 
    %button= link_to "Join Now", new_user_registration_path